.body{
	margin: 0;
	font-family: Arial,sans-serif;
}

* {
	box-sizing: border-box;
}

.nav{
	background-color: #5bc;
	overflow: hidden;
	/*padding: 14px 0px;*/
}
.nav a{
	text-decoration: none;
	padding: 14px 16px;
	color: black;
	float: left;
	display: block;
}
.nav a:hover{
	background-color: #5b5;
}


.content{
	background-color: #eee;
	text-align: center;
	padding: 10px;
}

.footer{
	background-color: #5ba;
	padding:20px;
	text-align: center;
}