.body{
	margin: 0;
	font-family: Arial,sans-serif;
}
*{
	box-sizing: border-box;
}

.header{
	height: 500px;
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	padding: 20px;
	text-align: center;
}

.row{
	display: -webkit-flex;
	display: flex;
}

.column{
	padding: 10px;
	height: 300px;
}

.column.side{
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}

.column.middle{
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	-webkit-flex:2;
	-ms-flex:2;
	flex:2;
}

.footer{
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	padding: 10px;
	text-align: center;
}

@media (max-width: 600px){
	.row{
		-webkit-flex-direction:column;
		flex-direction: column;

	}
}